<div class="ui container">

<button {{action "confirmdelete" model}} class="ui secondary button">
  Okay
</button>
<button {{action "cancel" }}class="ui button">
  Cancel
</button>

</div>
{{outlet}}
