

<div class="ui container">
<div class="ui header">Modifier dev </div>
{{input value=model.copy.identity class= "ui input"}}
<button {{action "save" model}} class="ui button">Modifier</button>

</div>
{{outlet}}

{{outlet}}