<div class="ui container">
	{{#link-to "developers.new" class="ui positive  button"}}
	<i class="plus circle icon"> </i>
	Ajouter un développeur
	{{/link-to}}

	<table class="ui single line table">
	  <thead>
	    <tr>
	      <th>Identité</th>

	    </tr>
	  </thead>
	  <tbody>

		{{#each model as |dev|}}
		<tr>
		<td>{{dev.identity}}

			{{#link-to "developers.confirmdelete" dev.id class="ui basic circular red icon button"}}
				<i class="remove icon"> </i>
			{{/link-to}}

		{{#link-to "developers.edit" dev class="ui basic circular icon button"}}
			<i class="edit icon"> </i>
		{{/link-to}}

		</td>


		</tr>
		{{/each}}

	  </tbody>
	</table>
</div>

{{outlet}}
